/*global styling*/

/*custom property(css var): to keep the look of app consistent/easily change*/
:root {
    --primary-color: #e50914;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

/* css reset '*':technique to prevent unwanted effects: */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*helvetica not free. -webkit: vendor prefix browser, smoothing method part. opacity to smooth curves of glyphs */
body {
    font-family: 'Arial', sans-serif;
    --webkit-font-smoothing: antiialiased;
    background: #000;
    color: #999;
}

/*to remove bullets*/
ul {
    list-style: none;
}

/*making text white*/
h1,
h2,
h3,
h4 {
    color: #fff;
}

/*a tags=links. Make color of text white. text-decoration to remove underline*/
a {
    color: #fff;
    text-decoration: none;
}

/*top/bottom margin in rem, 1 rem = font size of html(16px) */
p {
    margin: 0.5rem 0;
}

/*img to take up 100%  container*/
img {
    width: 100%;
}

/*END BASE STLYING*/

/*vh - viewport height(1vw = 1% of viewport width. img for background. position: relative d/t making other items absolute. '../(outside of jpg folder)*/
.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('../img/background.jpg') no-repeat center center/cover;
}

/*pseudo-element: to create ghost affect */
.showcase::after {
    content: '';
    /*will insert text..*/
    position: absolute;
    /*want to position inside .showcase: note it's postion is relative*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*applies on top*/
    background: rgba(0, 0, 0, 0.6);
    /*text under: go to .showcase-top/content & add z-index 2*/
    box-shadow: inset 120px 100px 250px #000000, inset -120px -110px 250px #000000;
    /*1st = thickness of the top/left & 2nd = bottom/right*/
}

/*container for logo img and sign in btn*/
.showcase-top {
    position: relative;
    z-index: 2;
    /*makes closer to you*/
    height: 90px;
}

/*logo img: absolute - positioned closest to it's parent(inside.showcase-top)  after top/left to far right d/t = transform property to make up for h/w of img(- make move up and left) */
.showcase-top img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*sign in btn: */
.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    /*item is lined up horizonal, not where it needs to be*/
    flex-direction: column;
    /*change to columns = vertical*/
    justify-content: center;
    /*distrubutes space between/around content along main-axis*/
    align-items: center;
    /*distrubution space between/around content along cross-axis*/
    text-align: center;
    margin-top: 9rem;
    /*to move down*/
}

/*see what's next: change size*/
.showcase-content h1 {
    font-weight: 700;
    /*boldness*/
    font-size: 5.2rem;
    line-height: 1.1;
    /*1.1 * font size sets distance bewteen lines*/
    margin: 0 0 2rem;
    /*bottom*/
}

/*watch anywhere cancel anytime: difficult to see*/
.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

/* Tabs */

.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
    border-right: none;
}

/*Don't want to make .tabs the container; make separate class; making tab-1,2,3 grid items. flexbox with a grid*/
.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Increased font for tabs <p>   */
.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

/* Adding padding top/bottom tabs(> div = directly to icons */
.tabs .container>div {
    padding: 1.5rem 0;
}

/* hover = turn white w/ cursor */
.tabs .container>div:hover {
    color: #fff;
    cursor: pointer;
}

/* red tab border when hover over tabs */
.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content  */
.tab-content {
    padding: 3rem 0;
    background: #000;
    color: #fff;
}

#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Table */

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
    /* adding grey background created lines =collpase & spacing */
}

.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

/* <td> in first-child(pseudo selector) need to align left  */
.table tbody tr td:first-child {
    text-align: left;
}

/* every other row grey(pseudo selector). ( */
.table tbody tr:nth-child(odd) {
    background: #222;
}

/* Footer */

/* Text to left - need algining. no container d/t footer > container */
.footer {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}

.footer,
.footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
}

/* Set up grid  */
.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

/* line items too close together */
.footer li {
    line-height: 1.9;
}

/* utility: container */

.container {
    max-width: 70%;
    /*shirks with changing size of screen*/
    margin: auto;
    /*everything in the center*/
    overflow: hidden;
    /*want everything to stay in container*/
    padding: 0 2rem;
}

/* utility: text styles */
.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999;
}



/* utility: class btn */

.btn {
    display: inline-block;
    /* inline-block: but able to adjust height.*/
    background: var(--primary-color);
    /* css var */
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    /*thinking about furture*/
    margin-right: 0.5rem;
    /*just in-case btns next together*/
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    /*offset-x, offset-y, blur-radius*/
    border-radius: 2px;
    /*rounding default*/
}

.btn:hover {
    opacity: 0.9;
    /*see thought =  changing color*/
}

/* style btns sizes */

/*sign in btn */
.btn-rounded {
    border-radius: 5px;
}

/* wacth free for .. btn */
.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}


.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

@media(max-width: 960px) {
    .showcase {
        height: 70vh;
        /*icons move up d/t goes 93 to 70 */
    }

    .hide-sm {
        display: none;
        /*-the text to disapear when getting smaller @960px or <*/
    }

    .showcase-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
        /*Moves logo to side getting smaller*/
    }

    /* to maker smaller as px get smaller  */
    .showcase-content h1 {
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1.5rem;
    }

    .footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
        /* to make 2 cols*/
    }

    .btn-xl {
        font-size: 1.5rem;
        padding: 1.4rem 2 rem;

    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-lg {
        font-size: 1.3rem;
    }

    .text-md {
        font-size: 1rem;
    }
}